<div class="tabs-row">

  <a routerLink="wc2026" routerLinkActive="active">

  <span class="material-icons">

  groups

  </span>

    Groups

  </a>

  <a routerLink="nations-info" routerLinkActive="active">

  <span class="material-icons">

  public

  </span>

    Nations

  </a>

  <a routerLink="tournament-info" routerLinkActive="active">

  <span class="material-icons">

  emoji_events

  </span>

    Editions

  </a>

  <a routerLink="head-to-head" routerLinkActive="active">

  <span class="material-icons">

  sports_soccer

  </span>

    Head-to-Head

  </a>

</div>
