# =========================================
# PYTHON
# =========================================

__pycache__/
*.py[cod]
*$py.class

# =========================================
# VIRTUAL ENVIRONMENTS
# =========================================

venv/
.venv/
env/
ENV/

# =========================================
# ENV VARIABLES
# =========================================

.env
.env.*

# =========================================
# LOGS
# =========================================

*.log
logs/

# =========================================
# IDE
# =========================================

.idea/
.vscode/
*.swp

# =========================================
# PYTEST
# =========================================

.pytest_cache/
.coverage
htmlcov/

# =========================================
# MYPY
# =========================================

.mypy_cache/

# =========================================
# JUPYTER
# =========================================

.ipynb_checkpoints/

# =========================================
# BUILD
# =========================================

build/
dist/
*.egg-info/

# =========================================
# FASTAPI
# =========================================

*.db
*.sqlite
*.sqlite3

# =========================================
# AI / ML MODELS
# =========================================

models/
checkpoints/
weights/

*.pt
*.pth
*.ckpt
*.h5
*.onnx
*.joblib
*.pkl

# =========================================
# DATASETS
# =========================================

data/
datasets/

*.csv
*.xlsx
*.parquet

# =========================================
# CACHE
# =========================================

.cache/
.cache-loader/

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# DOCKER
# =========================================

docker-compose.override.yml