html {
  height: 100%;
  @include mat.theme((
  color: (
  primary: mat.$magenta-palette,
  tertiary: mat.$violet-palette,
  ),
  typography: Roboto,
  density: 0,
  ));
}

.alert {
  color: #cd4dff;
  font-size: 14px;
  margin-top: 6px;
  text-align: left;
}


body {
  color-scheme: dark;

  /* Gradient background layer */
  background:
    radial-gradient(circle at 20% 20%, #3a0ca3 0%, transparent 40%),
    radial-gradient(circle at 80% 30%, #7209b7 0%, transparent 40%),
    radial-gradient(circle at 50% 80%, #560bad 0%, transparent 40%),
    linear-gradient(135deg, #0f0c29, #1a0933, #000000);

  background-attachment: fixed;
  background-size: cover;

  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}


* {
  font-family: "Inter", sans-serif;
}
