<nav class="wc-navbar">

  <div class="wc-logo" routerLink="/home-page">
    ⚽ WorldCup AI
  </div>

  <div class="wc-links">

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      Dashboard
    </a>

    <a
      routerLink="/ai-chat"
      routerLinkActive="active"
    >
      AI Chat
    </a>

    <a
      routerLink="/predictions"
      routerLinkActive="active"
    >
      Predictions
    </a>

    <a
      routerLink="/exhibition"
      routerLinkActive="active"
    >
      Exhibition
    </a>

  </div>

</nav>
